<mat-toolbar>
  <button
    mat-icon-button
    type="button"
    aria-label="Toggle navigation"
    aria-controls="main-navigation"
    [attr.aria-expanded]="menuOpen()"
    (click)="menuToggle.emit()"
  >
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      aria-hidden="true"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
    >
      <path d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </button>
  <a class="brand" routerLink="/sales/index">
    <img class="brand-icon" src="/images/plaas-winkel-logo.png" alt="" width="36" height="36" />
    <span>Plaas Winkel</span>
  </a>
  <span class="spacer"></span>
  <span class="user-name">{{ session.user()?.name }}</span>
  <button mat-stroked-button class="logout-button" type="button" aria-label="Log out" (click)="logout()">
    <mat-icon fontSet="material-symbols-outlined" aria-hidden="true">logout</mat-icon>
    <span>Log out</span>
  </button>
</mat-toolbar>
